/* Import the font at the top of hte page.... */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Roboto can be used with san-serif, together with Tahoma, Geneva */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* this is a reset for the images element */
img {
    display: block;
    /* A block element takes the full width of the page */
}

/* Utility classes */
.nowrap {
    white-space: nowrap;
}

.offscreen {
    position: absolute;
    left: -10000px;
}
/* End utility classes */


body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    background-color: rgb(169, 200, 226); 
     /*
     background-image: url('/assets/profile_background.jpg'),linear-gradient(to bottom, steelblue, purple,  white);
    background-repeat: repeat-y, no-repeat;
    background-size: cover;
    background-position: right center; */
    /* background-size: 20% auto; */



}

.container {
    background-color: rgb(251, 210, 156);
    background-image: url('/assets/profile_background.jpg');
    background-repeat: repeat;
    background-position: center center;
    background-size: cover;
    background-color: hsla(0, 100%, 10%, 0.43);
}

.hero {
    border-bottom: 2px solid black;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
 
}

h1 {
    font-size: 500%;
    color: white;
    text-shadow: 2px 2px 5px papayawhip;
    /* background-color: hsl(0, 0%, 28%);
    padding: 0.25rem;
    border-radius: 10px; */
    
}


.profile-pic-figure {
    width: 35%;
}

.profile-pic-figure img {
    width: 100%;
    height: auto;
    min-width: 100px;
    border: 50x double gray;
    border-radius: 50%;
}


.example {
    margin-top: 1rem;
    padding-left: 20px;
    border: 2px solid crimson;
    /* border-style:dashed double; */
    border-style: double;
}

.example img {
    width: 25%;
    height: auto;
}

.clip {
    font-weight: 800;
    font-size: 18rem;
    text-align: center;
    background-image: url('/assets/profile_background.jpg');
    background-size: 100%;
    text-transform: uppercase;
    color: white;
    -webkit-background-clip: text;
    /* color: hsl(0, 0%, 0%, 0); */
    color: transparent;
}